@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.btn {
		@apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
	}
}

@layer body {
	body {
		@apply font-quicksand;
		margin: 0 auto !important;
		height: 100%;
	}
}

@layer html {
	html {
		background: radial-gradient(circle at right bottom, rgba(197, 95, 141, 0.7), rgba(133, 94, 148, 0.7), rgba(74, 87, 126, 0.7), rgba(47, 72, 88, 0.7) 30%), linear-gradient(135deg, #c55f8d, #855e94, #4a577e, #2f4858);
		background-color: #2f4858;
		height: 100%;
		margin: 0;
	}
}
