@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.btn {
		@apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
	}
}

@layer body {
	body {
		@apply font-quicksand;
		max-width: 1200px;
		margin: 0 auto !important;
	}
}

@layer html {
	html {
		background: rgb(213, 255, 228);
		background: linear-gradient(90deg, rgba(213, 255, 228, 0.5) 0%, rgba(139, 232, 229, 0.8) calc(50% - 750px), rgba(152, 236, 229, 0.8) calc(50% + 750px), rgba(213, 255, 228, 0.5) 100%);
	}
}
